.topbar {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #2b2b2b;
    color: #ededed;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #323232;
    /*gap: 50px;*/
}
