.controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 95px;
}

.controls button {
    background: none;
    border: none;
    color: #b2b2b2;
    font-size: 18px;
    cursor: pointer;
}

.controls button:hover {
    color: #eeeeee;
}
