.header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.headerText {
    display: flex;
    flex-direction: column;
    /*margin-left: 10px;*/
}

.titleRow {
    display: flex;
    align-items: center;
    gap: 4px;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    opacity: 0.7;
}

.arrow {
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
}