.searchWrapper {
    position: relative;
    padding-top: 15px;
    padding-left: 6px;
    width: 100%;
    max-width: 213px;
}

.inputContainer {
    position: relative;
}

.input {
    width: 100%;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #414141;
    outline: none;
    background: #1f1f1f;
    color: #a0a0a5;
    font-size: 14px;
    font-weight: 400;
}

.input:focus {
    outline: 3px solid #a4434e;
}

.searchWrapper.active .input {
    outline: 3px solid #a4434e;
}

.dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;

    background: #2e2e2f;
    border-radius: 4px;
    border: 1px solid #3f3f40;

    padding: 8px 0;
    z-index: 10;

    max-height: 250px;
    overflow-y: auto;
}

.item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
}

.item:hover {
    background: #fa586a;
    border-radius: 4px;
}

.empty {
    padding: 10px 12px;
    color: #999;
    font-size: 14px;
}

.clearInputBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9e9e9e;
    border: 1px solid #9e9e9e;
    color: #2e2e2f;
    font-size: 18px;
    line-height: 0;
    padding: 0;
}
