.placeholder {
    width: 460px;
    flex: 0 0 auto;
    height: 44px;
    background: #4d4d4d;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.appleLogo {
    display: block;
    object-fit: contain;
    width: 25px;
}

.trackInfo {
    width: 460px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    /*gap: 12px;*/
    background: #4d4d4d;
    border-radius: 2px;
    margin-left: 100px;
}

.cover {
    /*width: 38px;*/
    height: 44px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    /*object-fit: cover;*/
}

.textBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
}

.trackTitle {
    font-size: 14px;
    font-weight: 400;
}

.trackArtist {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
}

.progress {
    width: 100%;
    margin-top: 3px;
    height: 4px;
    background: #5f5f5f;
    border-radius: 2px;
    /*overflow: hidden;*/
}

.progressFill {
    width: 30%;
    height: 100%;
    background: #ffffff;
}