.menu {
    background: #2a2827;
    border: 1px solid #545352;
    border-radius: 10px;
    overflow: hidden;
    width: 185px;
    /*height: 100px;*/
}

.menuItem {
    padding: 8px 14px;
    border: 0.1px solid #545352;
    color: #ededed;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menuItem:hover {
    background: #353231;
}